extends layout
block content
    section.content-header
        h1
            | Secret Page
            small This is a secret page
    // Main content
    section.content
        // Your Page Content Here
        // /.row
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Hi, Admin
                    // /.box-header
                    .box-body
                        p Welcome to secret page
                    // /.box-body
                // /.box
    // /.content
